<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/main.css"/>
<title>::pagetitle::</title>
</head>
<body>
    <div id="title">This is a thing!</div>
    <div id="categories">
        <ul>
            <li id="setting-icon">Se</li>
            <li id="character-icon">Ch</li>
        </ul>
    </div>
    <div id="tabs">
        <ul>
            <li class="rulebook">Core</li>
            <li class="character">Alkaiah</li>
            <li class="character">Rajmael</li>
        </ul>
    </div>
    <div id="content">

    </div>
</body>
</html>