<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/main.css"/>
<script src="anathema.js">console.log("Hello World");</script>
<script>AnathemaJS.bootSystem({context: "shell", bindingSRC: "css/bindings.css"});</script>
<title>::pagetitle::</title>
</head>
<body>
    <div id="title">This is a thing!</div>
    <div id="categories">
        <ul>
            <li id="document-category"><button type="button" >Documents</button></li>
            <li id="settings-category"><button type="button" >Settings</button></li>
            <li id="export-category"><button type="button" >Export</button></li>
        </ul>
    </div>
    <div id="document-view" class="category-view">
        <ul class="tree-view">
            <li>Characters
                <ul>
                    <li>Alkiah</li>
                    <li>Rajmael</li>
                    <li>Zaphodious</li>
                    <li>Daesh</li>
                </ul>
            </li>
            <li>Rulebooks
                    <ul>
                        <li>Core</li>
                        <li>Arms of the Chosen</li>
                        <li>Arian's Evlcations</li>
                        <li>Nate's Custom Charms</li>
                    </ul>
                </li>
        </ul>
    </div>
    <div id="settings-view" class="category-view">
            <ul class="tree-view">
                    <li>General
                        <ul>
                            <li>Foo</li>
                            <li>Bar</li>
                            <li>Baz</li>
                            <li>Fizz</li>
                        </ul>
                    </li>
                    <li>Advanced
                            <ul>
                                <li>Service Worker</li>
                                <li>Thing</li>
                                <li>Watcha</li>
                                <li>Confusing Thing</li>
                            </ul>
                        </li>
                </ul>
    </div>
    
    <div id="content">
        ::pagecontent::
    </div>
</body>
</html>