@font-face {
    font-family: Bellefair;
    src: url('../fonts/Bellefair-Regular.ttf');
}
@font-face {
    font-family: Envision;
    src: url('../fonts/Envision-Roman.ttf');
}
@font-face {
    font-family: Karma;
    src: url('../fonts/Karma-Medium.otf');
}

@font-face {
    font-family: ElMessiri;
    src: url('../fonts/ElMessiri-Regular.ttf');
}

* {
    font-family: ElMessiri, Arial, Helvetica, sans-serif;
}