@import "_responsive.scss";

$mobile-break: 600px;
$mobile-category-height: 2em;

$color-back-neutral: #212121;
$color-back-fore: #303030;
$color-back-deadzone: #000000;
$color-back-focus: #424242;

* {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    position: relative;
    @include mq($from: mobile) {
        @supports (grid-template-areas: "") {
            display: grid;
        }
    }
}

%block {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

%iconbutton {
    display: inline-block;
    color: transparent;
    background-color: transparent;
    border: none;
    font-size: 1em;
}

#title {
    @extend %block;
    height: 30px;
        display: none;
    @include mq($from: mobile) {
    }
}

#categories {
    @extend %block;
    background-color: green;
    ul {
        li {
            display: inline;
            width: 2em;
            height: 2em;
            button {
                @extend %iconbutton;
                width: 2em;
                height: 2em;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
            #document-category {
                button {
                    background-image: url('../img/full-folder.png');
                }
            }
            #settings-category {
                button {
                    background-image: url('../img/big-gear.png');
                }
            }
            #export-category {
                button {
                    background-image: url('../img/shield-bash.png');
                }
            }
    }
    @include mq($from: mobile) {
        background-color: black;
    }

}

#tabs {
    @extend %block;
    ul {
        li {
            display: inline;
                background-color: darkgray;
            button {
                background-color: transparent;
                border: none;
                padding-right: .4em;
                padding-left: .4em;
            }
            .close {
                @extend %iconbutton;
                background-image: url('../img/red-cancel.png');
                background-size: contain;
                width: 1em;
                height: 1em
            }
        }
    }
}

.detail-pane {
    border: solid 1px;
    display: block;
    position: fixed;
    right: 120%;
    left: -100%;
    bottom: 0%;
    top: $mobile-category-height;
    background-color: white;
    transition: right 2s;

    &.showing {
        right: 30%;
        left: 0%;
    }
    .tree-view {
        li {
            ul {
                li {
                    list-style-type: disc; 
                }
            }
        }
    }
}