@import "_responsive.scss";
@import "_fonts.scss";

$mobile-break: 600px;
$mobile-category-height: 2.3em;
$mobile-tab-start: 2.7em;
$mobile-tab-end: 5em;

$color-back-editor: #1E1E1E;
$color-back-detail: #252526;
$color-detail-treetop: #383838;
$color-back-categorybar: #333333;
$color-back-tabbar: #252526;
$color-back-tab: #2D2D2D;
$color-back-tab-focused: #1E1E1E;

$color-highlight: #3F3F46;
$color-editor-highlight: #264F78;

$color-button: #0E639C;

$color-text: #CCCCCC;

* {
    padding: 0;
    margin: 0;
    color: $color-text;
}

body {
    display: block;
    position: relative;
    height: 100%;
    background-color: $color-back-editor;
    @include mq($from: mobileLandscape) {
        @supports (grid-template-areas: "") {
        }
    }
}

%block {
    border: none;
    position: fixed;
    display: block;
    @include mq($from: mobileLandscape) {
    }
    /* display: block;
    border-style: solid;
    border-width: 1px; 
    border-color: black;*/
}

%iconbutton {
    display: inline-block;
    color: transparent;
    background-color: transparent;
    opacity: 0.6;
    border: none;
    font-size: 1em;
    background-repeat: no-repeat;
}

%hasshadow {
    box-shadow: 0 0 0.1em 0.1em black;
}

#title {
    @extend %block;
    height: 30px;
        display: none;
    @include mq($from: mobileLandscape) {
    }
}

#categories {
    @extend %block;
    @extend %hasshadow;
    position: fixed;
    background-color: $color-back-categorybar; 
    z-index: 80;
    top: 0;
    height: $mobile-category-height;
    left: 0;
    right: 0;
    @include mq($from: mobileLandscape) {
        top: 0;
        bottom: 0;
        left: 0;
        width: $mobile-category-height;
        height: 100%;
    }
    ul {
        li {
            display: inline;
            width: 2em;
            height: 2em;
            button {
                @extend %iconbutton;
                width: 1.8em;
                height: 1.8em;
                margin: 0.2em;
                background-size: 90%;
                background-position: center;

                background-repeat: no-repeat;
            }
            button:hover {
                opacity: 100%;
            }
        }
            #document-category {
                button {
                    background-image: url('../img/full-folder.png');
                }
            }
            #settings-category {
                button {
                    background-image: url('../img/big-gear.png');
                }
            }
            #export-category {
                button {
                    background-image: url('../img/shield-bash.png');
                }
            }
    }
    @include mq($from: mobileLandscape) {
    }

}

#tabs {
    @extend %block;
    @extend %hasshadow;
    background-color: $color-back-tabbar;
    margin-top: 0em;
    top: $mobile-tab-start;
    height: $mobile-tab-end - $mobile-tab-start;
    max-height: $mobile-tab-end - $mobile-tab-start;
    width: 100%;
    overflow: scroll;
    z-index: 50;
    border: none;
    white-space: nowrap;
    @include mq($from: mobileLandscape) {
        top: 0;
        left: $mobile-category-height;
        right: 0;
    }

    &::-webkit-scrollbar {
        height: 0.5em;
        width: 0;

    }
    &::-webkit-scrollbar-track {
        background-color: $color-back-detail;
        box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.75);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-highlight;
        border: 1px solid $color-detail-treetop;
        height: 0.1em;
    }

    ul {
        li {
            display: inline-block;
                background-color: $color-back-tab;
                padding-top: 0;
                margin-top: -1px;
                margin-right: 0.2em;
                border-bottom: 1px solid $color-back-tabbar;
                height: $mobile-tab-end - $mobile-tab-start - 0.6em;
            button {
                background-color: transparent;
                border: none;
                height: 100%;
                width: calc(100% - 1.5em);
                padding-right: 1em;
                padding-left: 1em;
            }
            .close {
                @extend %iconbutton;
                display: inline-block;
                background-image: url('../img/red-cancel.png');
                background-size: contain;
                background-position: center;
                width: 1em;
                padding-bottom: 0.5em;
                height: calc(100% - 0.5em);
                padding: 0;
                visibility: hidden;
            }
            &:hover .close {
                visibility: visible; 
            }
        }
    }
}

.category-view {
    @extend %block;
    @extend %hasshadow;
    padding: 0.2em;
    position: fixed;
    background-color: $color-back-detail;
    background-image: url("../img/script_colorcorrect.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 70;
    left: -30em;
    top: $mobile-category-height;
    bottom: 0;
    transition: left 0.2s;
    min-width: 14em;
    max-width: 14em;
    //overflow: scroll;
    @include mq($from: mobileLandscape) {
        top: $mobile-category-height + 0.45em;
    }
    &.showing {
        left: 0em;
        background-color: $color-back-detail;
        @include mq($from: mobileLandscape) {
            left: $mobile-category-height;
        }
    }
    .tree-view {
        li {
            //border-left: 2px white solid;
            margin-left: 0.6em;
            padding-left: 0.3em;
            list-style-type: url('../img/swords-power.png');
            list-style-position: inside;
            ul {
                li {
                    list-style-position: inherit;
                    list-style-type: square;
                }
            }
        }
    }
}

#content {
    position: fixed;
    top: $mobile-tab-end;
    bottom: 0;
    right: 0;
    left: 0;
    @include mq($from: mobileLandscape) {
        left: $mobile-category-height;
        top: $mobile-category-height + 0.45em;
    }
    iframe {
        @extend %hasshadow;
        width: 100%;
        height: 100%;
        border: none;
    }
}